
# PRE-INSTALLATION SCRIPT
%pre --interpreter=/usr/bin/bash --log=/root/anaconda-ks-pre.log
%end

# INSTALL USING TEXT MODE
text

# KEYBOARDS, LANGUAGES, TIMEZONE
keyboard --vckeymap=de --xlayouts='de (nodeadkeys)','us'
lang en_US.UTF-8
timezone {{ proxmox_automatic_timezone | default("Europe/Berlin") }} --utc
{% if proxmox_automatic_ntp_servers and proxmox_automatic_ntp_servers != "" %}
{% for ntp in proxmox_automatic_ntp_servers %}
timesource --ntp-server {{ ntp }}
{% endfor %}
{% endif %}

# NETWORK, SELINUX, FIREWALL
# Set network only on first interface, and set hostname.
{% if proxmox_automatic_dhcp_enabled | default(false) %}
network --bootproto=dhcp --device={{ proxmox_automatic_primary_nic.os_device }} --onboot=on --hostname={{ ansible_host }}
{% else %}
network --device={{ proxmox_automatic_primary_nic.os_device }} --bootproto=static --onboot=on --ip={{ proxmox_automatic_primary_nic.ip }} --netmask={{ proxmox_automatic_primary_nic.netmask }} --gateway={{ proxmox_automatic_primary_nic.gateway }}{% if proxmox_automatic_dns_servers is defined and proxmox_automatic_dns_servers | length > 0 %} --nameserver={{ proxmox_automatic_dns_servers | join(',') }}{% endif %} --hostname={{ ansible_host }}
{% endif %}
{% for nic in proxmox_automatic_secondary_nics | default([]) %}
{% if nic.dhcp | default(false) %}
network --device={{ nic.os_device }} --bootproto=dhcp --onboot=on
{% else %}
network --device={{ nic.os_device }} --bootproto=static --onboot=on --ip={{ nic.ip }} --netmask={{ nic.netmask }}{% if nic.gateway is defined %} --gateway={{ nic.gateway }}{% endif %}
{% endif %}

{% endfor %}

selinux --enforcing
firewall --enabled --ssh
firstboot --disable

# DISKS, PARTITIONS, VOLUME GROUPS, LOGICAL VOLUMES
# Install target is usually sda, vda, or nvme0n1; adjust all references below accordingly.
# The EFI & /boot partitions are explicitly set here, but some people just use `reqpart`.
{% set all_disks = proxmox_automatic_os_disk_layout + proxmox_automatic_data_disk_layout %}
ignoredisk --only-use={{ all_disks | map(attribute='device') | join(',') }}
zerombr

{% for disk in all_disks %}
{% if loop.first %}
clearpart --all --initlabel --disklabel=gpt --drives={{ disk.device }}
{% else %}
clearpart --initlabel --disklabel=gpt --drives={{ disk.device }}
{% endif %}
{% if disk.bootloader | default(loop.first) %}
bootloader --location=mbr --boot-drive={{ disk.device }}
{% endif %}
{% if disk.partitions is defined %}
# Partitionen ohne LVM (z. B. /boot, /efi)
{% for part in disk.partitions %}
part {{ part.mount }} --fstype={{ part.fstype }} --size={{ part.size_mb }} --asprimary --ondisk={{ disk.device }}
{% endfor %}
{% endif %}
{% if disk.lvs is defined %}
# Volume Group & LVM
part pv.{{ disk.vg }} --size=1 --grow --asprimary --ondisk={{ disk.device }}
volgroup {{ disk.vg }} pv.{{ disk.vg }}
{% for lv in disk.lvs %}
logvol {{ lv.mount }} --vgname={{ disk.vg }} --name={{ lv.name }} --fstype={{ lv.fstype }} --size={{ lv.size_mb }}
{% endfor %}
{% endif %}

{% endfor %}

# INSTALLATION SOURCE, EXTRA REPOSITOROIES, PACKAGE GROUPS, PACKAGES
# Installation Source
{% if proxmox_automatic_url_mirrorlist is defined and proxmox_automatic_url_mirrorlist != "" %}
url --mirrorlist={{ proxmox_automatic_url_mirrorlist }}
{% endif %}
{% if proxmox_automatic_url_baseos is defined and proxmox_automatic_url_baseos != "" %}
url --url={{ proxmox_automatic_url_baseos }}
{% endif %}

# Repositories - Automatisch per Schleife eingefügt
{% for repo in proxmox_automatic_repos %}
repo --name={{ repo.name }}{% if repo.mirrorlist is defined %} --mirrorlist={{ repo.mirrorlist }}{% endif %}{% if repo.baseurl is defined %} --baseurl={{ repo.baseurl }}{% endif %}{% if repo.cost is defined %} --cost={{ repo.cost }}{% endif %}

{% endfor %}

# Remove `@guest-agents` group if this is not a VM.
%packages --retries=5 --timeout=20 --inst-langs=en
@^minimal-environment
kernel-devel
openssh-server
# Add additional packages here
{% if proxmox_automatic_packages is defined and proxmox_automatic_packages != "" %}
{{ proxmox_automatic_packages | join('\n') }}
{% endif %}
%end

# GROUPS, USERS, ENABLE SSH, FINISH INSTALL
rootpw --lock

user --name={{ proxmox_automatic_admin_user }} --password='{{ proxmox_automatic_admin_password }}' --plaintext --gecos='{{ proxmox_automatic_admin_gecos }}' --groups='wheel,{{ proxmox_automatic_admin_user }}(1000)' --gid=1000
{% if proxmox_automatic_admin_ssh_key and proxmox_automatic_admin_ssh_key != "" %}
sshkey --username={{ proxmox_automatic_admin_user }} '{{ proxmox_automatic_admin_ssh_key }}'
{% endif %}

{% if proxmox_automatic_ansible_user is defined and proxmox_automatic_ansible_user != "" %}
user --name={{ proxmox_automatic_ansible_user }} --password='{{ proxmox_automatic_ansible_user }}' --plaintext --gecos="Ansible Serviceaccount" --gid=1001
{% if proxmox_automatic_ansible_ssh_key and proxmox_automatic_ansible_ssh_key != "" %}
sshkey --username={{ proxmox_automatic_ansible_user }} '{{ proxmox_automatic_ansible_ssh_key }}'
{% endif %}
{% endif %}

services --enabled='sshd,rsyslog,chronyd,NetworkManager'
reboot --eject

# ENABLE EMERGENCY KERNEL DUMPS FOR DEBUGGING
%addon com_redhat_kdump --reserve-mb=auto --enable
%end

# POST-INSTALLATION SCRIPT
%post --interpreter=/usr/bin/bash --log=/root/anaconda-ks-post.log --erroronfail

# Sudoers Datei erstellen (User braucht kein Passwort für sudo)
/usr/bin/echo "{{ proxmox_automatic_admin_user }} ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/user_{{ proxmox_automatic_admin_user }}
/usr/bin/chmod 440 /etc/sudoers.d/user_{{ proxmox_automatic_admin_user }}

{% if proxmox_automatic_ansible_user is defined and proxmox_automatic_ansible_user != "" %}
/usr/bin/echo "{{ proxmox_automatic_ansible_user }} ALL=(ALL) NOPASSWD: ALL" > /etc/sudoers.d/user_{{ proxmox_automatic_ansible_user }}
/usr/bin/chmod 440 /etc/sudoers.d/user_{{ proxmox_automatic_ansible_user }}
{% endif %}

# Install Updates
/usr/bin/dnf update -y

# Remove all repositories that are not needed anymore
/usr/bin/rm -f /etc/yum.repos.d/rocky-* /etc/yum.repos.d/epel-*

/usr/bin/echo "Konfiguriere lokale Repositories ..."

/usr/bin/cat <<EOF > /etc/yum.repos.d/atis.repo
{% for repo in proxmox_automatic_repos %}
[{{ repo.name | lower }}]
name={{ repo.name }}
{% if repo.mirrorlist is defined -%}
mirrorlist={{ repo.mirrorlist }}
{% endif %}
{% if repo.baseurl is defined -%}
baseurl={{ repo.baseurl }}
{% endif %}
enabled=1
gpgcheck=0
cost={{ repo.cost | default('100') }}

{% endfor %}
EOF

%end